<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  <script src="https://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fccddab9af.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body id='body'>

  <div class='d-flex justify-content-between'>
    <div class="d-flex justify-content-start logo">
      <a href="/">
        <img src="https://res.cloudinary.com/dduochwyb/image/upload/v1563626894/titan_oyte5g.png" alt="logo">
      </a>
    </div>

   <div class='d-flex justify-content-between navbar-container'>
    {% for link in linklists.main-menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}

          <a href="{{ link.url }}">{{ link.title }}</a>

        [{% for childlink in linklists[child_list_handle].links %}

          <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>

        {% endfor %}]
      {% else %}
        {% if link.title == 'Home' %}
          <div class='navbar-item'>
              <a href="{{ link.url }}"><img src="https://res.cloudinary.com/dduochwyb/image/upload/v1563688898/shop_vxep25.svg" alt="Home"></a>
          </div>
      {% else %}
        <div class='navbar-item'>
              <a href="{{ link.url }}"><img src="https://res.cloudinary.com/dduochwyb/image/upload/v1563688898/shopping_ibikf9.svg" alt="Featured"></a>
          </div>
      {% endif %}
      {% endif %}
    {% endfor %}
     <div class='navbar-item'>
       <a href="/cart" class="cart-counter"><img src="https://res.cloudinary.com/dduochwyb/image/upload/v1563939950/shopping-cart_hh6e3i.svg" alt="Cart">( {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }})</a>
     </div>
   </div>
  </div>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% section 'text' %}

  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/DarkDante27" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/darkdante28" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/josepauloovall3" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/pauloovallerivera" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Titan Goods® All Rights Reserved 2019.
    </div>
  </div>

</body>
</html>
