<div id="product-page"class="container prod-grid">

  <div id="carouselExampleControls" class="carousel slide carousel-style" data-ride="carousel">
    <div class="carousel-inner">

      {% for image in product.images %}
        <div class="{% if image.alt == 'featured' %} carousel-item active {% else %} carousel-item {%endif%}">
          <img class="d-block w-100" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="product-description d-flex align-items-start flex-column bd-highlight mb-3">

        <div class="prod-page-title p-2 bd-highlight">
          <h1>{{ product.title }}</h1>
        </div>
<!--     This is getting the data for use in JavaScript modal it will be hidden -->

    {% assign product_quantity = product.variants[0].inventory_quantity %}
    <div class='prod-quantity' style="display: none;">{{ product.variants[0].inventory_quantity }}</div>

    {% if cart.item_count > 0 %}
      <div class='cart-quantity' style="display: none;" data-quantity="{{ cart.item_count }}">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</div>
      <div class='cart-data' style="display: none;">
      {% for item in cart.items %}
       <p class='cart-items'>{{ item.title }} | Quantity: {{ item.quantity }}</p>
      {% endfor %}
        <p class='cart-total-price'>Total: {{ cart.total_price | money }}</p>
      </div>
    {% else %}
      <div class='cart-data' style="display: none;" data-quantity="{{ cart.item_count }}">
      <p class='cart-quantity'>There are no items in the cart </p>
      </div>
    {% endif %}

<!--   End of data section -->

    <div class="prod-page-description p-2 bd-highlight"><p>{{ product.description }}</p></div>
      <div class="d-flex align-items-end mt-auto p-2 bd-highlight add-cart-form">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class='variant-select'>
          <div class="form-group">
            <select name="id" id="productSelect" class="form-control">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                  {% if variant.title == 'Default Title' %}
                      {{ product.title }} - {{ variant.price | money_with_currency }}
                      {% else %} {{ variant.title }} - {{ variant.price | money_with_currency }}
                    {% endif %}
                  </option>
                {% else %}
                  <option disabled="disabled">
                  {{ variant.title }} - sold out
                  </option>
                {% endif %}
            {% endfor %}
            </select>
            {{ current_variant.price | money }}
            <label for="Quantity" class="quantity-label">Quantity</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="form-control">
            <button type="submit" name="add" id="AddToCart" class="btn btn-primary add-to-cart-button">Add to cart</button>
          </div>
        </form>

      </div>
  </div>
</div>
