<div class="container prod-grid">

  <div id="carouselExampleControls" class="carousel slide carousel-style" data-ride="carousel">
    <div class="carousel-inner">

      {% for image in product.images %}
        <div class="{% if image.alt == 'featured' %} carousel-item active {% else %} carousel-item {%endif%}">
          <img class="d-block w-100" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="product-description d-flex align-items-start flex-column bd-highlight mb-3">

        <div class="prod-page-title p-2 bd-highlight">
          <h1>{{ product.title }}</h1>
        </div>

    <div class="prod-page-description p-2 bd-highlight"><p>{{ product.description }}</p></div>

      <div class="d-flex align-items-end mt-auto p-2 bd-highlight add-cart-form">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
          <div class="form-group">
            <select name="id" id="productSelect" class="form-control">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                  {{ variant.title }} - sold out
                  </option>
                {% endif %}
            {% endfor %}
            </select>
            {{ current_variant.price | money }}
            <label for="Quantity" class="quantity-label">Quantity</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="form-control">
            <button type="submit" name="add" id="AddToCart" class="btn btn-primary add-to-cart-button">Add to cart</button>
          </div>
        </form>

      </div>
  </div>
</div>
